<div class="main" fxLayout="row wrap" fxLayout="center center">
    <div class="card " *ngFor="let array of arr;let i=index" fxFlex="20" fxFlex.md="27" fxFlex.sm="40" fxFlex.xs="83">
        <div class="card-img" fxLayout="row" fxLayoutAlign="center">
            <img id="book" src="../../assets/Image 11.png">
        </div>
        <div class="card-block">
            <div class="book-title" (click)="disp()">
                {{array.bookName}}
            </div>
            <div class="sub-title">{{array.author}}</div>
            <div fxLayout="row" fxLayoutGap="5px">
                <div class="price">Rs. {{array.price}}</div>
                <div style="font-size: 12px;">Rs({{array.discountPrice}})</div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between">
                <button class=" added btn btn-primary" *ngIf="array.isAdded && !array.isWish">Added to bag</button>
                <button class=" btn btn-primary" *ngIf="!array.isAdded && !array.isWish"
                    (click)="adToBag(array._id,i)">Add to
                    Bag</button>
                <button class="btn btn-outline" *ngIf="!array.isAdded && !array.isWish "
                    (click)="addToWishlist(array._id,i)">Wish
                    List</button>
                <button class=" added btn btn-primary" *ngIf="array.isWish && !array.isAdded">Added to Wishlist</button>
            </div>
        </div>
    </div>
</div>