.main{
    margin-left: 13vw;
}
.card{
    width: 240px;
    margin-right: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#book{
    width: 109px;
    height: 135px;
}

.card-img{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #F5F5F5
}

.card-block{

    .book-title{
        font: normal normal normal 14px/19px Roboto;
        font-size: large;
        color: #0A0102;
    }
    .sub-title{
        font: normal normal normal 10px/13px Roboto;
        color:#878787;
        margin-bottom:1px
    }
    .rating{
        background-color: #388E3C;
        width: 25px;
        font: normal normal bold 10px/13px Roboto;
        color: white;
        border-radius: 1px;
        padding: 0px -2px 0px -2px;
    }  
} 

.price{
    font-weight: bold;
    font-size: 12px;
    color: black;
}

.btn-outline, .btn-outline:hover, .btn-outline:active, .btn-outline:visited {
    background-color: white;
    color: #8F2B2F;
    //border: black;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #8F2B2F !important;
}


@media screen and (max-width: 600px) {
   .main{
       display: flex;
       flex-direction: column;
       margin-left: 8vw;
   }
   .dilouge-container{
       width: 300px;
   }
   .card{
    width: 150px;
    margin-right: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.card-img{
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #F5F5F5
}
  }