<div class="main-rectangle" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="-250px" fxLayout.md="row"
    fxLayoutGap="-200px" fxLayout.sm="row" fxLayout.xs="column" fxLayoutGap="-100px">
    <div class="rectangle">
        <div class="image-container">
            <img src="../assets/registration.png" style="border-radius: 150px;" class="img">
        </div>
        <div class="text">
            <div>Online Book Shopping </div>
        </div>
    </div>

    <div class="rectangle-form">
        <div class="register-login-button" fxLayout="row" fxLayoutGap="55px" fxLayoutAlign.md="space-between"
            fxLayoutAlign.sm="space-between" fxLayoutAlign.xs="space-between">
            <div>
                <button mat-button value="underline" [routerLink]="['/register']">Register</button>
            </div>
            <div>
                <button mat-button value="underline" [routerLink]="['/login']">login</button>
            </div>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>