<div>
    <header class="header header-1" fxLayout="row" fxLayoutAlign="space-evenly" fxFlex="100" fxFlex.md="100"
        fxFlex.sm="100" fxFlex.xs="100">
        <div class="header-content" fxLayout="row" fxLayoutAlign="center center" fxFlex="100" fxFlex.md="100"
            fxFlex.sm="100" fxFlex.xs="100">
            <div class="icon">
                <cds-icon shape="book" size="24"></cds-icon>
            </div>
            <div class="bookstore-txt">Bookstore</div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" fxFlex="100" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100">
            <cds-search control-width="stretch">
                <label></label>
                <input type="text" placeholder="Search" />
            </cds-search>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center" fxFlex="100" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100">

            <div class="content-3" fxLayout="row" fxLayoutGap="5px">
                <div class="dropdown bottom-right open" (click)="userClick()">
                    <div>
                        <cds-icon shape="user" size="24"></cds-icon>
                    </div>
                    <div class="dropdown-menu" *ngIf="userClicked==true">
                        <h4 class="dropdown-header">Hello,Rajas</h4>
                        <div class="dropdown-item " (click)="logoutUser()">Logout</div>
                    </div>
                </div>

                <div>
                    <cds-icon shape="shopping-cart" size="24" (click)="cartClick()" *ngIf="message!=true">
                    </cds-icon>
                    <cds-icon shape="shopping-cart" size="24" badge="success" (click)="cartClick()"
                        *ngIf="message==true">
                    </cds-icon>
                </div>
            </div>
        </div>
    </header>
</div>
<div class="main-content-2" fxLayout="row" fxLayoutAlign="space-evenly" fxLayoutGap="30vw" fxLayoutGap.md="25vw"
    fxLayoutGap.sm="15vw" fxLayoutGap.xs="-5vw" fxLayoutAlign.xs="center center">
    <div class="book-txt">Books</div>
    <div class="add-books">
        <div class="dropdown bottom-left open" (click)="userClickSort()">
            <div style="cursor: pointer;" class="card">
                sort by relevence
                <cds-icon shape="angle" direction="down" *ngIf="userClickedSort!=true"></cds-icon>
                <cds-icon shape="angle" direction="up" *ngIf="userClickedSort==true"></cds-icon>
            </div>
            <div class="dropdown-menu" *ngIf="userClickedSort==true">
                <div class="dropdown-item" (click)="lowestArray()">Price:Low to High</div>
                <div class="dropdown-item" (click)="highestArray()">Price:High to Low</div>
            </div>
        </div>
    </div>
</div>

<div class="get-books">
    <app-usergetbook (messageEvent)="receiveMessage($event)" [highestArray]="highestClickArray">
    </app-usergetbook>
</div>