<app-header></app-header>

<div class="main-container">
    <div class="wish-title" fxLayout="row">
        <div fxFlexOffset.xl="470px" fxFlexOffset.lg="190px" fxFlexOffset.md="150px" fxFlexOffset.sm="100px"
            fxFlexOffset.xs="50px" fxLayout="row">
            <div class="home">Home</div>
            <div class="wish-txt">/My Wishlist</div>
        </div>
    </div>
    <div style="margin-top: 2vh;">
        <div class="book-container" fxFlexOffset.xl="470px" fxFlexOffset.lg="190px" fxFlexOffset.md="150px"
            fxFlexOffset.sm="100px" fxFlexOffset.xs="50px">
            <div class="wishlist-txt">My WishList({{length}})</div>
            <div class="loop-cart" fxLayout="column-wrap" *ngFor="let array of arr">
                <div style="width: 100%;" fxLayout="row" fxLayoutAlign="space-between">
                    <div fxLayout="row" fxLayoutGap="10px">
                        <div><img id="book" src="../../assets/Image 11.png"></div>
                        <div fxFlexLayout="column">
                            <div class="book-name">{{array.product_id.bookName}}</div>
                            <div class="author">by {{array.product_id.author}}</div>
                            <div class="price">Rs. {{array.product_id.price}}</div>
                        </div>
                    </div>
                    <div>
                        <cds-icon class="icon" shape="trash" size="10" style="cursor: pointer;"
                            (click)="deleteWish(array.product_id._id)">
                        </cds-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div>
    <app-footer></app-footer>
</div> -->