.main-box{
    margin-top: 8vw;
}
.my-cart{

    font: normal normal medium 18px/22px Lato;
    letter-spacing: 0px;
    color: #0A0102;
    opacity: 1;
    font-size: medium;
    margin-bottom: 1vw;
}

.book-name{
    text-align: left;
    font: normal normal normal 14px/17px Lato;
    letter-spacing: 0px;
    color: #0A0102;
    opacity: 100%;
    font-size: 14px;
}
.author{
    text-align: left;
    font: normal normal normal 10px/12px Lato;
    letter-spacing: 0px;
    color: #9D9D9D;
    opacity: 1;
}
.price{
    text-align: left;
    font: normal normal bold 15px/18px Lato;
    letter-spacing: 0px;
    color: #0A0102;
    opacity: 1;
}
.quantity-box{
    border:1px solid #707070;
    padding: -0vw 1vw -0vw 1vw;
}
.remove{
    margin-left: 2vw;
}

.cart-box{
    border: 1px solid #707070;
    width:50vw;
    padding: 2vw;
    
}

.header-1{
    background-color: #8F2B2F;
    }
  
.header{
    font: normal normal normal 20px/26px Roboto;
    opacity: 1;
}

.main-content-2{
    margin-top: 20px;
    .book-txt{
        font: normal normal normal 25px/33px Roboto;
        color: #0A0102;
        opacity: 1;
        margin-right: 30vw; 
    }
    .add-books{
        margin-left: 15vw;
        .card{
            margin-top: 0%;
            padding-right: 2px;
            padding-left: 2px;
        }
    }
}
.remove{
    text-align: left;
    font: normal normal normal 12px/15px Lato;
    letter-spacing: 0px;
    color: #0A0102;
    opacity: 1;
    font-size: 12px;
}

.form-box{
    border: 1px solid #707070;
    padding: 0.5vw;
    width: 17vw;
}

.outer-table-box{
    .table{
        margin: 0px 0px 0px 25%;
    }
}
.bookstore-txt{
    display:contents
}

@media screen and (max-width: 769px) {
    .cart-box {
        border: 1px solid #707070;
        width:100%;
        padding: 2vw;
    }
    .outer-table-box{
        width: calc( 100% - 40px );
        overflow: auto;
        padding: 0 20px;
        box-sizing: border-box;
        .table{
            width: 700px;
        }
    }
  }
  @media screen and (max-width: 302px) {
    .cart-box {
        border: 1px solid #707070;
        width:100%;
        padding: 2vw;
    }
    #book{
        height: 50px;
        width: 25%;
    }
    // .loop-cart{
    //     justify-content: space-between;
    // }
  }
  
  @media screen and (max-width: 412px) {
    .cart-box {
        border: 1px solid #707070;
        width:100%;
        padding: 2vw;
    }
    #book{
        height: 50px;
        width: 50px;
    }
    // .loop-cart{
    //     justify-content: space-between;
    // }
    .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
        margin: 0%;
        padding: 0%;
    }
    .address{
        display: flex;
        justify-content: center;
    }
  }
    .table{
        width:50vw;
    }

    .icon{
        size: 12;
    }
    
  @media screen and (max-width: 415px) {
    .care{
        margin: 0px 10px 0px 10px;
    }
    #confetti{
        width: 50vw;
    }
    .table{
        margin: 0px 10px 0px 10px;
    }
    .icon{
        size: 10;
    }
    .bookstore-txt{
        display: none;
    }
  }