<div>
    <header class="header header-1" fxLayout="row" fxLayoutAlign="space-evenly" fxFlex="100" fxFlex.md="100"
        fxFlex.sm="100" fxFlex.xs="100">
        <div class="header-content" fxLayout="row" fxLayoutAlign="center center" fxFlex="100" fxFlex.md="100"
            fxFlex.sm="100" fxFlex.xs="100">
            <div class="icon">
                <cds-icon shape="book" size="24"></cds-icon>
            </div>
            <div class="bookstore-txt">Bookstore</div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" fxFlex="100" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100">
            <cds-search control-width="stretch" style="color: white;">
                <label></label>
                <input type="text" placeholder="Search" />
            </cds-search>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center" fxFlex="100" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100">

            <div class="content-3" fxLayout="row" fxLayoutGap="5px">
                <div class="dropdown bottom-right open" (click)="userClick()">
                    <div>
                        <cds-icon shape="user" size="24"></cds-icon>
                    </div>
                    <div class="dropdown-menu" *ngIf="userClicked==true">
                        <h4 class="dropdown-header">Hello,Rajas</h4>
                        <div class="dropdown-item" (click)="logoutUser()">Logout</div>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center" fxFlex="100" fxFlex.md="100" fxFlex.sm="100"
                    fxFlex.xs="100">
                    <cds-icon class="icon" shape="shopping-cart" size="24"></cds-icon>
                </div>
            </div>
        </div>
    </header>
</div>

<div fxLayout="row" fxLayoutAlign="center center" style="margin-top: 8vw;" fxLayoutAlign.xs="center center">
    <img src="../../../assets/order.png" id="confetti">
</div>

<!-- <div fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.xs="center center">
    <table class="table">
        <thead>
            <tr>
                <th>Emailus</th>
                <th>Contactus</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>admin@bookstore@gmail.com</td>
                <td>+918163798356</td>
                <td>42, 14th Main, 15th Cross, Sector 4 ,opp to BDA complex, near Kumarakom restaurant, HSR Layout,
                    Bangalore 560034</td>
            </tr>
        </tbody>
    </table>
</div> -->
<div class="outer-table-box">

    <table class="table">
        <thead>
            <tr>
                <th>Emailus</th>
                <th>Contactus</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>admin@bookstore@gmail.com</td>
                <td>+918163798356</td>
                <td>42, 14th Main, 15th Cross, Sector 4 ,opp to BDA complex, near Kumarakom restaurant, HSR Layout,
                    Bangalore 560034</td>
            </tr>
        </tbody>
    </table>
</div>