<div>
    <header class="header header-1" fxLayout="row" fxLayoutAlign="space-evenly" fxFlex="100" fxFlex.md="100"
        fxFlex.sm="100" fxFlex.xs="100">
        <div class="header-content" fxLayout="row" fxLayoutAlign="center center" fxFlex="100" fxFlex.md="100"
            fxFlex.sm="100" fxFlex.xs="100">
            <div class="icon">
                <cds-icon shape="book" size="24"></cds-icon>
            </div>
            <div>Bookstore</div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" fxFlex="100" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100">
            <div class="header-content-1">
                <div class="searchbar-container">
                    <div class="icons-search-wrapper"
                        style="display:flex;flex-direction: row;margin-bottom: 25px;margin-left: 25px;">
                        <div style="display:flex;align-items: flex-end;">
                            <div>
                                <cds-icon shape="search" size="16"></cds-icon>
                            </div>
                        </div>
                        <div>
                            <input clrInput type="text" class="searchbar-input" placeholder="Search..."
                                style="width:36vw">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center" fxFlex="100" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100">

            <div class="content-3" fxLayout="row" fxLayoutGap="5px">
                <div fxLayout="row" fxLayoutAlign="center center" fxFlex="100" fxFlex.md="100" fxFlex.sm="100"
                    fxFlex.xs="100">
                    <cds-icon shape="user" size="24"></cds-icon>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center" fxFlex="100" fxFlex.md="100" fxFlex.sm="100"
                    fxFlex.xs="100">
                    <cds-icon shape="shopping-cart" size="24"></cds-icon>
                </div>
            </div>
        </div>
    </header>
</div>

<div fxLayout="row" fxLayoutAlign="center center" style="margin-top: 8vw;">
    <img src="../../../assets/order.png" alt="">
</div>

<div fxLayout="row" fxLayoutAlign="center center">
    <table class="table">
        <thead>
            <tr>
                <th>Emailus</th>
                <th>Contactus</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>admin@bookstore@gmail.com</td>
                <td>+918163798356</td>
                <td>42, 14th Main, 15th Cross, Sector 4 ,opp to BDA complex, near Kumarakom restaurant, HSR Layout,
                    Bangalore 560034</td>
            </tr>
        </tbody>
    </table>
</div>