<div class="main" fxLayout="row wrap">
    <div class="card " *ngFor="let array of arr" fxFlex="20" fxFlex.md="33" fxFlex.sm="50" fxFlex.xs="100">
        <div class="card-img" fxLayout="row" fxLayoutAlign="center">
            <img id="book" src="../../assets/Image 11.png">
        </div>
        <div class="card-block">
            <div class="book-title">
                {{array.bookName}}
            </div>
            <div class="sub-title">{{array.author}}</div>
            <div fxLayout="row" fxLayoutGap="5px">
                <div class="price">Rs. {{array.price}}</div>
                <div style="font-size: 12px;">Rs({{array.discountPrice}})</div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between">
                <button class="btn btn-primary"
                    (click)="openBox(array._id,array.bookName,array.author,array.price,array.description,array.quantity,array.discountPrice)">Update</button>
                <button class="btn btn-outline" (click)="openDeleteBox(array._id)">Delete</button>
            </div>
        </div>
    </div>
</div>

<clr-modal [(clrModalOpen)]="openModal">
    <h3 class="modal-title">Update Book</h3>
    <div class="modal-body">
        <form clrForm clrLayout="vertical">
            <clr-input-container>
                <label>BookName</label>
                <input clrInput type="text" name="text1" [(ngModel)]="update.bookName" style="width:26vw" required />
            </clr-input-container>

            <clr-input-container>
                <label>Author</label>
                <input clrInput type="text" name="text2" [(ngModel)]="update.author" style="width:26vw" required />
            </clr-input-container>

            <clr-input-container>
                <label>Description</label>
                <input clrInput type="text" name="text3" [(ngModel)]="update.description" style="width:26vw" required />
            </clr-input-container>

            <clr-input-container>
                <label>Quantity</label>
                <input clrInput type="text" name="text4" [(ngModel)]="update.quantity" style="width:26vw" required />
            </clr-input-container>

            <clr-input-container>
                <label>Price</label>
                <input clrInput type="text" name="text5" [(ngModel)]="update.price" style="width:26vw" required />
            </clr-input-container>

            <clr-input-container>
                <label>Discount Price</label>
                <input clrInput type="text" name="text6" [(ngModel)]="update.discountPrice" style="width:26vw"
                    required />
            </clr-input-container>

        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="openModal = false">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="closeBox()">Ok</button>
    </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="openDeleteModal">
    <h3 class="modal-title">Are You Sure You Want To Delete</h3>
    <div class="modal-body">

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="openDeleteModal = false">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="closeDeleteBox()">Ok</button>
    </div>
</clr-modal>