
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #8F2B2F !important;
}

.form-size{
  width: 20vw;
}
@media screen and (max-width: 780px) {
  .form-size{
    width: 25vw;
  }
}