<!-- <div class="form-container">
    <div>
        <form class="form-size1" clrForm clrLayout="vertical">
            <clr-input-container>
                <label>Email</label>
                <input clrInput type="text" name="email" [(ngModel)]="login.email"
                    pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required />
                <clr-control-error>Invalid Email </clr-control-error>
            </clr-input-container>

            <clr-input-container>
                <label>Password</label>
                <input clrInput type="text" name="password" type="password" [(ngModel)]="login.password" required />
                <clr-control-error>Invalid Password </clr-control-error>
            </clr-input-container>
        </form>
    </div>
    <form (ngSubmit)="submit()" class="form-size1">
        <div class="button">
            <button class="btn btn-primary form-size">Login</button>
        </div>
    </form>
</div> -->

<div class="main-customer" fxLayout="column" fxLayoutAlign="space-between" fxLayout.xs="column">

    <form [formGroup]="loginForm" (ngSubmit)="submit()">
        <div fxLayout="column" fxLayoutAlign="space-evenly" fxLayoutGap="0.5vw" fxLayoutGap.xs="2vw">
            <div fxLayout="column" fxLayoutAlign="space-evenly" fxLayoutGap="0.5vw" fxFlex.md="100"
                fxLayoutAlign="flex-start" fxLayoutGap="0.5vw" fxFlex.sm="100" fxLayoutAlign="flex-start"
                fxLayoutGap="0.5vw" fxFlex.xs="100" fxLayout.xs="column" fxLayout.sm="column"
                fxLayoutAlign.xs="flex-start" fxLayoutGap.xs="2vw">
                <div fxLayout="column">
                    <div [ngClass]="{'has-err':loginForm.get('email').errors}">
                        <label class="address-label">Email</label>
                        <input id="name" class="form-box" placeholder="Email" type="email" name="email"
                            formControlName="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                        <span
                            *ngIf="loginForm.get('email').errors &&(loginForm.get('email').touched || loginForm.get('email').dirty)">
                            <span *ngIf="loginForm.get('email').errors.required">This field is required</span>
                            <span *ngIf="loginForm.get('email').errors.email">Invalid Email</span>
                        </span>

                    </div>
                </div>
                <div fxLayout="column">
                    <div [ngClass]="{'has-err':loginForm.get('password').errors}">
                        <label class="address-label">Password</label>
                        <input class="form-box" placeholder="Password" name="password" type="password"
                            formControlName="password" required>
                        <span
                            *ngIf="loginForm.get('password').errors &&(loginForm.get('password').touched || loginForm.get('password').dirty)">
                            <span>This field is required</span>
                        </span>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="flex-end flex-end">
                        <div>forgot password?</div>
                    </div>
                </div>
                <div class="order-button1" fxLayout="column" fxLayoutAlign="flex-end flex-end">
                    <button type="button" class="btn btn-primary" (click)="submit()">Login</button>
                </div>
            </div>
        </div>
    </form>

</div>