
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #8F2B2F !important;
}

.form-size{
  width: 75%;
  
}
.form-size1{
  padding-left: 20px;
}
@media screen and (max-width: 769px) {
  .form-size{
    width: 75%;
  }
}

@media screen and (max-width: 541px) {
  .form-size{
    width: 95%;
  }
}

@media screen and (max-width: 415px) {
  .form-size{
    width: 95%;
  }
  
}

@media screen and (max-width: 361px) {

  .form-size{
    width: 95%;
  }
}