<div class="main-customer" fxLayout="column" fxLayoutAlign="space-between" fxLayout.xs="column">

    <form>
        <div fxLayout="column" fxLayoutAlign="space-evenly" fxLayoutGap="0.5vw" fxLayoutGap.xs="2vw">
            <div fxLayout="column" fxLayoutAlign="space-evenly" fxLayoutGap="0.5vw" fxFlex.md="100"
                fxLayoutAlign="flex-start" fxLayoutGap="0.5vw" fxFlex.sm="100" fxLayoutAlign="flex-start"
                fxLayoutGap="0.5vw" fxFlex.xs="100" fxLayout.xs="column" fxLayout.sm="column"
                fxLayoutAlign.xs="flex-start" fxLayoutGap.xs="2vw">
                <div fxLayout="column">
                    <label class="address-label">Name</label>
                    <input class="form-box" placeholder="Name" name="name" [(ngModel)]="register.fullName">

                </div>
                <div fxLayout="column">
                    <label class="address-label">Email</label>
                    <input class="form-box" placeholder="Email" type="email" name="email" [(ngModel)]="register.email">

                </div>
            </div>
            <div fxLayout="column" fxLayoutAlign="space-evenly" fxLayoutGap="-1vw" fxFlex.md="100"
                fxLayoutAlign="flex-start" fxLayoutGap="0.5vw" fxFlex.sm="100" fxLayoutAlign="flex-start"
                fxLayoutGap="0.5vw" fxFlex.xs="100" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="flex-start"
                fxLayoutGap.xs="2vw">
                <div fxLayout="column">
                    <label class="address-label">Password</label>
                    <input class="form-box" placeholder="Password" type="password" name="password"
                        [(ngModel)]="register.password">

                </div>
                <div fxLayout="column">
                    <label class="address-label">Phone</label>
                    <input class="form-box" placeholder="Locality" name="phone" [(ngModel)]="register.phone">
                </div>
            </div>
        </div>
    </form>
    <div class="order-button1" fxLayout="column" fxLayoutAlign="flex-end">
        <button type="button" class="btn btn-primary" (click)="submit()">Register</button>
    </div>
</div>