.header-1{
    background-color: #8F2B2F;
    }
  
.header{
    font: normal normal normal 20px/26px Roboto;
    opacity: 1;
}

.main-content-2{
    margin-top: 20px;
    .book-txt{
        font: normal normal normal 25px/33px Roboto;
        color: #0A0102;
        opacity: 1;
        margin-right: 30vw; 
    }
    .add-books{
        margin-left: 15vw;
        .card{
            margin-top: 0%;
            padding-right: 2px;
            padding-left: 2px;
        }
    }
}