<div class="main-rectangle">
    <div class="rectangle">
        <div class="image-container">
            <img src="../assets/registration.png" alt="" width="244" height="244" style="border-radius: 150px;"
                class="img">
        </div>
        <div class="text">
            <div>Online Book Shopping </div>
        </div>
    </div>

    <div class="rectangle-form">
        <div class="register-login-button">
            <div>
                <button mat-button value="underline" [routerLink]="['/register']">Register</button>
            </div>
            <div>
                <button mat-button value="underline" [routerLink]="['/login']">login</button>
            </div>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>