<div class="card" (click)=openBox()>
    Add Books
</div>

<clr-modal [(clrModalOpen)]="openModal">
    <h3 class="modal-title">Add Book</h3>
    <div class="modal-body">
        <form clrForm clrLayout="vertical">
            <clr-input-container>
                <label>BookName</label>
                <input clrInput type="text" name="text1" [(ngModel)]="addBook.bookName" style="width:26vw" required />
            </clr-input-container>

            <clr-input-container>
                <label>Author</label>
                <input clrInput type="text" name="text2" [(ngModel)]="addBook.author" style="width:26vw" required />
            </clr-input-container>

            <clr-input-container>
                <label>Description</label>
                <input clrInput type="text" name="text3" [(ngModel)]="addBook.description" style="width:26vw"
                    required />
            </clr-input-container>

            <clr-input-container>
                <label>Quantity</label>
                <input clrInput type="text" name="text4" [(ngModel)]="addBook.quantity" style="width:26vw" required />
            </clr-input-container>

            <clr-input-container>
                <label>Price</label>
                <input clrInput type="text" name="text5" [(ngModel)]="addBook.price" style="width:26vw" required />
            </clr-input-container>

            <clr-input-container>
                <label>Discount Price</label>
                <input clrInput type="text" name="text6" [(ngModel)]="addBook.discountPrice" style="width:26vw"
                    required />
            </clr-input-container>

        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="openModal = false">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="submit()">Ok</button>
    </div>
</clr-modal>